html, body {
  margin: 0;
  padding: 0;
  
}

canvas {
  display: block;
}

#timeLeft {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

h1 {
  text-align: center;
}

#ageInput {
  display: table-cell;
   text-align: center;
   vertical-align: middle;
}

#ageInputWrapper {
  display: table;
  width: 100%;
}